@page "/"
@using Microsoft.FluentUI.AspNetCore.Components
<PageTitle>Home</PageTitle>

<FluentDataGrid Items="@people" GridTemplateColumns="1fr auto auto">
    <PropertyColumn Property="@(p => p.PersonId)" Sortable="true" />
    <PropertyColumn Property="@(p => p.BirthDate)" Format="yyyy-MM-dd" Sortable="true" />
    <PropertyColumn Property="@(p => p.Name)" Sortable="true" />
</FluentDataGrid>


<div style="display: grid;  grid-template-columns: 1fr auto auto;  gap: 20px;">
    <div>10895</div>
    <div>1985-03-16</div>
    <div>Jean Martin</div>
    <div>10944</div>
    <div>1991-12-01</div>
    <div>António Langa</div>
    <div>11203</div>
    <div>1958-10-10</div>
    <div>Julie Smith</div>
    <div>11205</div>
    <div>1922-04-27</div>
    <div>Nur Sari</div>
    <div>11898</div>
    <div>2011-05-03</div>
    <div>Jose Hernandez</div>
    <div>12130</div>
    <div>2004-01-09</div>
    <div>Kenji Sato</div>
</div>

@code {
    record Person(int PersonId, string Name, DateOnly BirthDate);

    IQueryable<Person> people = new[]
    {
        new Person(10895, "Jean Martin", new DateOnly(1985, 3, 16)),
        new Person(10944, "António Langa", new DateOnly(1991, 12, 1)),
        new Person(11203, "Julie Smith", new DateOnly(1958, 10, 10)),
        new Person(11205, "Nur Sari", new DateOnly(1922, 4, 27)),
        new Person(11898, "Jose Hernandez", new DateOnly(2011, 5, 3)),
        new Person(12130, "Kenji Sato", new DateOnly(2004, 1, 9)),
    }.AsQueryable();
}